.touch_container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.touch_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 22px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  color: white;
  border-top: 10px solid #ffb56c;
  border-right: 10px solid #db852e;
  border-bottom: 10px solid #db852e;
  border-left: 10px solid #ffb56c;
  background-color: orange;
}

.touch_button:hover {
  cursor: pointer;
  border-top: 10px solid #ea8a2a;
  border-right: 10px solid #c97929;
  border-bottom: 10px solid #c97929;
  border-left: 10px solid #ff9934;
  background-color: #ea8a2a;
}

.bottom_buttons {
  display: flex;
  gap: 2px;
}
